<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">



<!--it create a java bean class of particular java class in container-->
    <bean id="tri" class="com.coupling.Triangle">  
        <!-- collaborators and configuration for this bean go here -->
      
        <!-- constructors args tag is used for set the value through constructor //set value of a parameterized constructor -->
    </bean>

    <bean id="main" class="com.coupling.Main">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    
    <bean id="demo" class="com.coupling.Demo">
         <!-- properties tag  is used for set the values for setter method/act as a setter -->
         <property name="s" ref="ciri"></property>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    
    <bean id="ciri" class="com.coupling.Circle">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="cy" class="com.coupling.Cylinder">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <!-- more bean definitions go here -->

</beans>